<html>
    <title>Home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <body>
      <script>
        function goBack() {window.history.back();}
      </script>
      
      <div class="w3-container w3-teal">
      <h1>Welcome <%=r.owner %>, Showing <%= r.length %> restaurant(s): </h1>
    </div>
    <form class="w3-container" action="/search" method="post">
        <input type="text" class="w3-input" name="value">
        <select name="criteria">
            <option value="restaurant_id">RestaurantID</option>
            <option value="name">Name</option>
            <option value="borough">Borough</option>
            <option value="cuisine">Cuisine</option>
            <option value="owner">Owner</option>
            <option value="street">Street</option>
            <option value="building">Building</option>
            <option value="zipcode">Zipcode</option>
            <option value="longitude">Longitude</option>
            <option value="latitude">Latitude</option>
          </select>
        <button class="w3-btn">Search</button>
      </form>
      <div class="w3-container">
        <ol class="w3-ul w3-hoverable w3-xlarge" style="width:50%">
          <% for (var i=0; i < r.length; i++) { %>
            <li><a href=/display?_id=<%= r[i]._id %>><%= r[i].name %></a></li>
          <% } %>
        </ol>
        <a href="/new" style="text-decoration: none">
          <button class="w3-btn w3-section w3-teal w3-ripple">Create Restaurant</button>
        </a>
        <a href="/logout">
         <button class="w3-btn">Logout</button>
         </a>
      </div>
    </body>
    </html>