<HTML>
    <head>
        <title>Register Page</title>
    </head>    

    <BODY>
        <h1 style="background-color:darkkhaki;color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Register Page</h1>
        <form method="post" id="reg-form" action="/register">
            <input name="username" type="text" placeholder="username" required />
            </p>
            <input name="password" type="password" placeholder="password" required/>  
            </p>        
            <button id="btnSub" class="btn btn-lg btn-primary" type="submit">Submit</button>
            <a class="btn btn-link" href="/login" role="button">Login</a>
        </form> 
    </BODY>
</HTML>