
<html>
<title>Search </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-container w3-teal">
  <h2>Search </h2>
</div>
<p>
<form class="w3-container" acton="/search" method="post">
  <select name="criteria">
    <option value="name">Name</option>
    <option value="borough">Borough</option>
    <option value="cuisine">Cuisine</option>
    <option value="street">Street</option>
    <option value="building">Building</option>
    <option value="zipcode">Zipcode</option>
  </select>
  <input type="text" class="w3-input" name="value">
  <button class="w3-btn">Search</button>
</form>
</body>
</html>